@{
    ViewData["Title"] = Model.Header;
}
@model Entities.Thread

<div class="text-center">
    <div class="card">
        <div class="card-header">@Model.Header</div>
        <div class="card-body" style="text-align: justify;">
            <p>@Model.Text</p>
        </div>
    </div>
    @if (Model.Posts is null || Model.Posts.Count == 0)
    {
        <br>
        <div class="alert alert-info" role="alert">
            Bu konuda hiç gönderi yok.
        </div>
    }
    else
    {
        <table class="table table-hover">
            <thead>
                <tr style="text-align: left;">
                    <th scope="col" width="15%">Yazar</th>
                    <th scope="col">Mesaj</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model.Posts)
                {
                    <tr style="text-align: left;">
                        <th align="center" scope="row"></th>
                        <td>@post.Header</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>